.page_bookingConfirmed {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 61vh;
    padding: 1.875rem 0 1.875rem 0;
    text-align: center;
}

.page_bookingConfirmed h2 {
    font-size: 2.5rem;
}

.page_bookingConfirmed p {
    margin: 0;
    font-size: 1.8rem;
}